fastapi==0.116.1
uvicorn==0.35.0

pydantic[email]==2.11.7
pydantic-settings==2.11.0
email-validator==2.2.0

SQLAlchemy==2.0.43
alembic==1.18.5

python-dotenv==1.1.1
python-multipart==0.0.20

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.1

qrcode==8.2
Pillow==11.3.0

reportlab==4.4.3

requests==2.32.5

gunicorn==23.0.0